{% extends 'default.html.twig' %}

{% block content %}
	<section id = "especialidades" class = "contenido">
	<article class = "cont-esp">
		<h3 class = "titparrafo"> Técnico en automotores</h3>
		<p class = "texto"> Al egresar estará capacitado para: </p>
		<p class = "texto"> Montar y desmontar componentes, sistemas e instalaciones del automotor.</p>
		<p class = "texto"> Verificar y evaluar componentes, sistemas e instalaciones del automotor.</p>
		<p class = "texto"> Operar y mantener componentes, sistemas e instalaciones del automotor.</p>
		<p class = "texto"> Realizar e interpretar ensayos de motores, sistemas e instalaciones del automotor.</p>
		<p class = "texto"> Comercializar, seleccionar y asesorar en servicios y productos del área automotriz.</p>
		<p class = "texto"> Generar y/o participar en emprendimientos del área automotriz.</p>
	</article>
</section>
{% endblock %}