{% extends 'default.html.twig' %}

{% block content %}
	<section id = "especialidades" class = "contenido">
	<article class = "personal">
		<h3 class = "titparrafo"> Técnico químico</h3>
		<p class = "texto"> Al egresar estará capacitado para: </p>
		<p class = "texto"> Diseñar procesos y productos con tecnología estándar. </p>
		<p class = "texto"> Operar, controlar y optimizar plantas de operaciones y procesos fisioquímicos. </p>
		<p class = "texto"> Realizar e interpretar análisis y ensayos físicos, químicos y biológicos de materias primas, insumos, materiales de proceso, productos y efluentes. </p>
		<p class = "texto"> Comercializar, seleccionar y abastecer materias primas, insumos, productos e instrumental específico. </p>
		<p class = "texto"> Generar y/o participar en emprendimientos integrados o no al medio ambiente. </p>
	</article>
	<h3 class = "titparrafo"> Prácticas profesionales: Proyecto arroyo la tapera</h3>
	<article class = "personal">
		<p class = "texto"> A continuación se listan blogs de los proyectos donde participan alumnos de esta especialidad:</p>
		<ul>
			<li><a href = "http://proyectolatapera.blogspot.com.ar/"> Proyecto arroyo la tapera</a></li>
			<li><a href = "http://proyectolataperapartedos.blogspot.com.ar/"> Proyecto arroyo la tapera II - CAS</a></li>
			<li><a href = "http://compromisoporelaguamdq.blogspot.com.ar/"> Proyecto Mar del Plata por el agua </a></li>
		</ul>
	</article>
</section>
{% endblock %}