{% extends 'default.html.twig' %}

{% block content %}
	<section id = "especialidades" class = "contenido">
	<article class = "cont-esp">
		<h3 class = "titparrafo"> Técnico en equipos e instalaciones electromecánicas</h3>
		<p class="texto">
Al egresar estará capacitado para:</p> <p class="texto">Proyectar y diseñar de acuerdo a las competencias desarrolladas el motanje de equipos e instalaciones industriales.</p><p class="texto"> Operar equipos e instalaciones industriales, de edificios e infraestructuras urbanas.</p><p class="texto"> Realizar el mantenimiento preventive, predictivo y correesctivo del equipamento y las instalaciones.</p><p class="texto"> Suministrar los servicioes auxiliares en empresas industrieales, edificios e infraestructura urbana.</p><p class="texto"> Realizar e interpretar ensayos de materiales, ensayos eléctronicos, mecánicos y electromecánicos.</p><p class="texto"> Comercializar, seleccionar y asesorar en equipamento e instalaciones electromecánicas y/o particiar en emprendimientos.</p>
</p>
	</article>
</section>
{% endblock %}