{% extends 'default.html.twig' %}

{% block content %}
	<section id = "especialidades" class = "contenido">
	<article class = "cont-esp">
		<h3 class = "titparrafo"> Técnico en electrónica</h3>
		<p class = "texto"> Al egresar estará capacitado para: <p>
		<p class = "texto"> Proyectar, evaluar, modificar y mantener equipos e intalaciones electrónicas de tecnología estándar. <p>
		<p class = "texto"> Montar e instalar componentes, productos y equipos electrónicos.<p>
		<p class = "texto"> Operar y verificar componentes, productos y equipos electrónicos.<p>
		<p class = "texto"> Gestionar las actividades necesarias para la concreción de proyectos, teniendo en cuenta estándares de seguridad, calidad e impacto ambiental, aunados a criterios de productividad, costos y relaciones humanas.<p>
		<p class = "texto"> Comercializar, seleccionar y asesorar en componentes, productos, equipos e instalaciones electrónicas.<p>
	</article>
</section>
{% endblock %}