{% extends 'default.html.twig' %}

{% block content %}
<section id = "especialidades" class = "contenido">
	<article class = "cont-esp">
		<h3 class = "titparrafo"> Técnico en informática</h3>
		<p class = "texto"> Al egresar estará capacitado para: </p>
		<p class = "texto"> Diseñar ambientes informáticos mono o multi-usuarios basados o no en redes. </p>
		<p class = "texto"> Instalar, configurar, mantener, actualizar y reparar el software propio o comercial de una PC. </p>
		<p class = "texto"> Realizar controles de seguridad en diversos tipos de programas y sistemas. </p>
		<p class = "texto"> Administrar y controlar la seguridad en diversos tipos de redes. </p>
		<p class = "texto"> Facilitar la operatoria del usuario que lo requiera, brindándole apoyo para resolver problemas que estén fuera de su alcance. </p>
		<p class = "texto"> Capacitar y asesorar al usuario en la operación y aprovechamiento de la funcionalidad de los equipos y en la forma de eliminar sus problemas operativos. </p>
		<p class = "texto"> Autogestionar sus actividades, las del sector dentro de su organización o emprendimiento propio. </p>
	</article>
</section>
{% endblock %}