{% extends 'default.html.twig' %}

{% block content %}
    <section id = "home" class = "contenido">	
		<h3 class = "titparrafo"> Home </h3>
        <div> ACA VAN LAS NEWS</div>
	</section>
{% endblock %}
