{% extends 'default.html.twig' %}

{% block content %}
<div id = "acercade" class = "contenido">
	<h4 class = "titparrafo"> El sitio </h4>
	<p class = "texto"> Este sitio web pertenece a la Escuela de educación secundaria técnica Nº3, situada en la ciudad de Mar del Plata.</p> 
        <p class = "texto">Nacido como una forma para practicar y entrenar ciertas aptitudes sobre diseño y programación web, prontamente se convirtió en un proyecto real para acercar a la escuela al mundo de internet. </p>
        <p class = "texto"> Como su autor, me siento contento de haber podido dar el primer empujón para la presencia definitiva de la escuela en el mundo digital. Así espero lograr una mejor comunicación entre la comunidad de la escuela, y que el sitio se transforme en una herramienta útil para todo aquello en lo que pueda brindar un servicio. Por eso es importante que participes y envíes todas las <a href= "mailto:webmaster@tecnica3mdp.edu.ar"> sugerencias</a> que se te ocurran para que el sitio siga creciendo.</p>

<div class = "firma">
<strong> Jorge Andres Mangeruga </strong>
</div>
	
	<h4 class = "titparrafo"> Licencias </h4>
	<br/><span id = "textolic"> A menos que se indique lo contrario el sitio y su contenido se encuentra bajo <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/">licencia Creative Commons Reconocimiento-NoComercial-CompartirIgual 2.5 Argentina.</a> </span>
	<br/><br/>
	<a id = "imglic" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/ar/"><img alt="Licencia Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/2.5/ar/88x31.png" /></a>
	

</div>
{% endblock %}