{% extends 'default.html.twig' %}

{% block content %}
<section id = "autoridades" class = "contenido">
	<h3 class = "titparrafo"> Autoridades </h3>
	<h4 class = "subtit1"> Directora </h4>
	<p class = "texto"> Marta Moyano</p>
	<h4 class = "subtit1"> Vicedirectores</h4>
	<!--<p class = "texto"> Marta Moyano</p>-->
	<p class = "texto"> Virginia Rodriguez</p>
	<h4 class = "subtit1"> Jefe técnico </h4>
	<p class = "texto"> Angel Fiasche</p>
	<h4 class = "subtit1"> Secretaria </h4>
	<p class = "texto"> Patricia Mongelos</p>
	<h4 class = "subtit1"> Prosecretaria</h4>
	<p class = "texto"> Mónica Salvachua</p>
	<h4 class = "subtit1"> Jefes de departamento </h4>
	<p class = "texto"> Valeria Ciancio</p>
	<p class = "texto"> Sergio Constante</p>
	
	<p class = "texto"> Gustavo Petitti</p>
	<h4 class = "subtit1"> Jefa de preceptores </h4>
	<p class = "texto"> Mabel Troiano</p>
</section>
{% endblock %}