{% extends 'default.html.twig' %}

{% block content %}
    <section id = "contacto" class = "contenido">
        <h3 class = "titparrafo"> Ubicación </h3>
        <article id = "ubicacion">
          <p class = "texto">14 de Julio 2550 - Mar del Plata - Buenos Aires - Argentina</p>
          <iframe width="535" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=-38.000821,-57.563446&amp;num=1&amp;t=h&amp;ie=UTF8&amp;ll=-38.001371,-57.563059&amp;spn=0.005918,0.010729&amp;z=16&amp;output=embed"></iframe>
        </article> 
        <h3 class = "titparrafo"> Teléfonos - Correos electrónicos  </h3>
        <article id = "internos">
          
          <h5> NUMERO FIJO:</h5><p class = "texto">(0223) 495 0285</p><br/>
          <h5> INTERNOS:</h5>
          <ul>
            <li class = "texto">Direccion --- / direccion@tecnica3mdp.edu.ar</li>
            <li class = "texto">Cooperadora --- / cooperadora@tecnica3mdp.edu.ar</li>
            <li class = "texto">Oficina técnica --- / oficina.tecnica@tecnica3mdp.edu.ar</li>
            <li class = "texto">Oficina de alumnos --- / oficina.alumnos@tecnica3mdp.edu.ar</li>
            <li class = "texto">Preceptoria 1er Piso ---</li>
            <li class = "texto">Secretaría --- / secretaria@tecnica3mdp.edu.ar</li>
          </ul>
        </article> 
        <br/>
        <hr/>
        <p class = "texto"> Para consultas o sugerencias acerca del sitio <a href="mailto:webmaster@tecnica3mdp.edu.ar"> envianos un mensaje</a> </p>
	
</section>
{% endblock %}
