{% extends 'default.html.twig' %}

{% block content %}
<section id = "historia" class = "contenido">
	<article>
		<h3 class="titparrafo">Reseña histórica</h3>
		<p class="texto">En el mes de mayo de 1936 el diario El Progeso anunciaba:</p>
		<p class="texto">La municipalidad de Mar del Plata espera inaugurar el próximo 25 de mayo la Escuela de Artes y Oficios. Las obras del nuevo edificio se están levantando en el lugar que anteriormente ocupaba la Administración de Limpieza, en las calles 14 de Julio y Gascón.</p>
		<p class="texto">En mayo de ese mismo año, la empresa Casino Pueyrredon en nota dirigida al intendente, D. José Camusso, había propuesto donar un lote de maquinarias con destino a la Sección Mecánica, además solicitaba autorización para iniciar la construcción de seis aulas en terrenos municipales.</p>
		<p class="texto">La escuela muestra su evolución en el aumento de la matrícula y docentes, en las distintas especialidades que se dictaron y se dictan y en los cambios de denominación a partir de su nacionalización y posterior provincialización.</p>
		<p class="texto">Así, por decreto Nº37179/44 del Presidente Farrel pasa a depender del Ministerio de Justicia e Instrucción Pública con el nombre de Escuela Nacional de Artes y Oficios entre el 30 de diciembre de 1944 al 28 de febrero de 1945.</p>
		<p class="texto">Con el decreto Nº6428/45 fue elevada a la categoría de Escuela Técnica hasta el 18 de abril de 1949. Al agregarse el Ciclo Técnico, pasa a denominarse Escuela Industrial de La Nación Ciclo Superior de Mar del Plata, desde el 19 de abril de 1949 hasta el 12 de junio de 1961, por resolución ministerial.</p>
		<p class="texto">En junio de 1961 pasó a llamarse Escuela Nacional de Educación Técnica de Mar del Plata, hasta el 17 de septiembre de 1964 y, por Resolución 1195 se le agregó al nombre de Escuela Nacional de Educación Técnica Nº1, la advocación Domingo Faustino Sarmiento.</p>
		<p class="texto">Con la provincialización, el legendario <strong>Industrial</strong> pasó a llamarse Escuela de Educación Técnica Nº3 Domingo Faustino Sarmiento y, finalmente desde el 1 de marzo de 2010 se le da el nombre de Escuela de Educación Secundaria Técnica Nº3 Domingo Faustino Sarmiento.</p>
	</article>
</section>
{% endblock %}